<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Position List</title>
</head>
<body layout:fragment="content">
<h1>Position List</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="position : ${positions}">
    <td th:text="${position.position_id}">1</td>
    <td th:text="${position.name}">Position Name</td>
  </tr>
  </tbody>
</table>

<a href="/positions/new">Add New Position</a>
</body>
</html>
